@if (string.Equals(HttpContext.Current.Session["isLogin"]+string.Empty,"Yes"))
{
    using (Html.BeginForm("Logout", "UserCoDong", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + HttpContext.Current.Session["UserName"] + "!", "Manage", "UserCoDong", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "UserCoDong", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
