@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>QUẢN LÝ ĐẠI HỘI CỔ ĐÔNG</h1>
    <p class="lead">Website quản lý đại hội cổ đông của công ty .........</p>
   
</div>

<span id="popupNotification"></span>

@section Scripts{
    <script>
        $(document).ready(function () {
            var popupAlert = $("#popupNotification").kendoNotification().data("kendoNotification");
            if ('@(ViewBag.Alert + string.Empty)' != null && '@(ViewBag.Alert + string.Empty)' != '') {
                popupAlert.show('@(ViewBag.Alert + string.Empty)');
            }
        });
    </script>
}